body {
    font-family: sans-serif;
}

table {
    border-spacing: 0; /* Removes the cell spacing via CSS */
    border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */
}

td {
    padding: 10px 50px;
}

tr:nth-child(even) td {
    background-color: lightcyan;
}

tr:nth-child(odd) td {
    background-color: white;
}